In [2]:
# --- Librerías ---
import sys
import os
import pandas as pd

# --- Ajustar sys.path para importar módulos de src ---
sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd(), '..')))

from src.load_data import load_csv
from src.transform import estandarizar_diccionario
from src.translate_codes import traducir_columnas

# --- Definir raíz del proyecto ---
BASE_DIR = os.path.abspath(os.path.join(os.getcwd(), ".."))
print("BASE_DIR:", BASE_DIR)


# --- Cargar datos crudos ---
df_datos = load_csv(os.path.join(BASE_DIR, "data", "raw", "ECV_2024.csv"), sep=";")
df_diccionario1 = load_csv(os.path.join(BASE_DIR, "data", "raw", "informacion_variable.csv"), sep=";", header=2)
df_diccionario2 = load_csv(os.path.join(BASE_DIR, "data", "raw", "valores_variables.csv"), sep=";", header=2)

# --- Análisis preliminar de la tabla principal ---
print("Primeras filas de df_datos:")
display(df_datos.head())

print("\nDimensiones de df_datos:")
print(df_datos.shape)

print("\nInformación de df_datos:")
df_datos.info()

print("\nEstadísticas descriptivas de df_datos:")
display(df_datos.describe())

print("\nPrimeras filas de columnas tipo objeto:")
display(df_datos.select_dtypes(include="object").head())

BASE_DIR: c:\Users\User\OneDrive - CELSIA S.A E.S.P\Documentos\Aprendiendo analisis de datos\Analisis-datos-medellin

c:\Users\User\OneDrive - CELSIA S.A E.S.P\Documentos\Aprendiendo analisis de datos\Analisis-datos-medellin\src\load_data.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df= df.astype(str).applymap(lambda x: x.strip())

Primeras filas de df_datos:

c:\Users\User\OneDrive - CELSIA S.A E.S.P\Documentos\Aprendiendo analisis de datos\Analisis-datos-medellin\src\load_data.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df= df.astype(str).applymap(lambda x: x.strip())
c:\Users\User\OneDrive - CELSIA S.A E.S.P\Documentos\Aprendiendo analisis de datos\Analisis-datos-medellin\src\load_data.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df= df.astype(str).applymap(lambda x: x.strip())

,NoForm,Hogar,persona,A.1,A.3,A.4,A.5,A.6,A.7,A.10,...,W.6,W.7,W.8,W.9,W.10,W.11,W.12,FEV,FEH,FEP
0,1,1,1,1,1,5,04/09/2024 16:08:58,1,1,2,...,1,1,2,2,1,1,1,"144,637097","145,596257","53,911765"
1,2,1,1,2,2,-88,04/09/2024 10:15:45,1,1,2,...,1,1,2,1,1,1,2,"144,637097","145,596257","157,222222"
2,3,1,1,3,2,-88,04/09/2024 11:03:36,1,1,2,...,1,2,2,2,1,1,1,"144,637097","145,596257","53,911765"
3,3,1,2,3,2,-88,04/09/2024 11:03:36,1,1,2,...,1,2,2,2,1,1,1,"144,637097","145,596257","58,714286"
4,3,1,3,3,2,-88,04/09/2024 11:03:36,1,1,2,...,1,2,2,2,1,1,1,"144,637097","145,596257","110,750000"

Dimensiones de df_datos:
(20391, 329)

Información de df_datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20391 entries, 0 to 20390
Columns: 329 entries, NoForm to FEP
dtypes: object(329)
memory usage: 51.2+ MB

Estadísticas descriptivas de df_datos:

,NoForm,Hogar,persona,A.1,A.3,A.4,A.5,A.6,A.7,A.10,...,W.6,W.7,W.8,W.9,W.10,W.11,W.12,FEV,FEH,FEP
count,20391,20391,20391,20391,20391,20391,20391,20391,20391,20391,...,20391,20391,20391,20391,20391,20391,20391,20391,20391,20391
unique,6910,3,17,6910,2,11,6886,2,21,6,...,4,4,4,4,4,4,4,21,21,1429
top,329,1,1,329,1,-88,04/09/2024 10:21:57,1,16,2,...,1,2,2,2,1,1,1,"144,289199","145,355401","90,270000"
freq,17,20357,6924,17,12039,8352,17,17750,1557,7647,...,19970,11765,19484,11409,16957,18459,19029,1557,1557,100

Primeras filas de columnas tipo objeto:

,NoForm,Hogar,persona,A.1,A.3,A.4,A.5,A.6,A.7,A.10,...,W.6,W.7,W.8,W.9,W.10,W.11,W.12,FEV,FEH,FEP
0,1,1,1,1,1,5,04/09/2024 16:08:58,1,1,2,...,1,1,2,2,1,1,1,"144,637097","145,596257","53,911765"
1,2,1,1,2,2,-88,04/09/2024 10:15:45,1,1,2,...,1,1,2,1,1,1,2,"144,637097","145,596257","157,222222"
2,3,1,1,3,2,-88,04/09/2024 11:03:36,1,1,2,...,1,2,2,2,1,1,1,"144,637097","145,596257","53,911765"
3,3,1,2,3,2,-88,04/09/2024 11:03:36,1,1,2,...,1,2,2,2,1,1,1,"144,637097","145,596257","58,714286"
4,3,1,3,3,2,-88,04/09/2024 11:03:36,1,1,2,...,1,2,2,2,1,1,1,"144,637097","145,596257","110,750000"